h1 {
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
}
p {
    color: whitesmoke;
    font-size: small;
    text-align: center;
}
body {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}
    
div {
    width: 50%;
    margin-left: 25%;
}